*.iml
.gradle/
/local.properties
/.idea
.DS_Store
/build/
xposed/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
xposed/src/main/assets/tipismine_https.p12
signing.properties
xposed/signing.properties
keystore/

/art/
